<h1>Welcome To Park your Vehicle</h1>
<div *ngIf="registeredCar.length == 0">You do not have any vehicles to be parked.</div>
<div *ngIf="registeredCar.length > 0">
    <!-- Pick the vehicle to park -->
    <div class="pick-vehicle">
        <label>Pick Vehicle</label>
        <select name="vehicle" id="vehicle" [(ngModel)] = "pv" (change)="getGaragesList()">
            <option value="default"></option>
            <option *ngFor="let vehicle of registeredCar" [value]="vehicle.licensePlate">{{vehicle.licensePlate}} - {{vehicle.color}}</option>
        </select>
        Vehicle picked: {{pv}}
    </div>
    <!-- dispaly all garages -->
    <div class="pick-garage">
        <label>Pick Garage</label>
        <select name="garage" id="garage" [(ngModel)] = "garageId" (change)="setFloorsForGarage()">
            <option value="default"></option>
            <option *ngFor="let g of garages" [value]="g.id">Name: {{g.street}} - #Floors: {{g.floors}}</option>
        </select>
        Garage picked: {{garageId}}
    </div>
    <!-- Pick the floor to park -->
    <div class="pick-floor">
        <label>Pick Floor</label>
        <select name="floor" id="floor" [(ngModel)]="pf" (change)="selectSpot()">
            <option *ngFor="let number of floors">{{number}}</option>
        </select>
        Floor number picked: {{pf}}
    </div>
    <!-- Pick the spot to park -->
    <div class="pick-spot" *ngIf="pf != 0">
        <label>Pick Spot</label>
        <select name="spot" id="spot" [(ngModel)]="ps">
            <option *ngFor="let spot of spots">{{spot}}</option>
        </select>
        Spot number picked: {{ps}}
    </div>
    <button *ngIf="pf!= 0 && ps.length != 0 && pv.length != 0" (click)="parkVehicke()">Park Vehicle</button>
</div>

